body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 80%;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
  }
  
  .image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .directories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 80%;
    padding-bottom: 1%;
  }

  .folderButton {
    position: relative;
    text-align: center;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .backButtonContainer {
    padding: 2%;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .homeButton {
    padding-right: 2%;
  }

  .backButton {
    padding-left: 2%;
  }


  .title {
    text-align: center;
  }

  .navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
  }